*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 2%;
   color: #cc1e2c;
   background-color: #ffffff;
}
form{
    border: 5px solid #9c0713;
    width: 50%;
    padding: 2%;
    border-radius: 50px;
    background-color: white;
}
.form-group{
    display: flex;
    flex-direction: column;  
    margin-bottom: 15px;
}
label{
    font-size: 15px;
    margin-bottom: 8px;
    color: #b90817;
    font: bold;
}
input{
    font-size: 16px;
    padding: 8px;
    border-radius: 50px;
    border: 1px solid #000000;
    outline: none;

    &:focus{
        border: 3px solid #d33737 ;
    }
}
.mb-20{
    margin-bottom: 15px;
}
.submit{
    font-size: 20px;
    padding: 12px;
    border-radius: 50px;
    width: 70%;
    color: #ffffff;
    border: 2px solid #000000;
    background-color: #b90817;

&:hover{
   color: #b90817;
   background-color: #ffffff;
}
}


.btnDiv{
text-align: center;
}

